.control {
  display: block;
  padding: 10px 20px;
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
}

.link_desktop {
  color: #252d29;
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  position: relative;
}

.link_desktop::after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -5px;
  height: 2px;
  left: 0;
  background-color: #252d29;
  transition: 0.3s;
}

.link_desktop:hover::after {
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-lg);
  color: white;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 700;
}
